@{
    ViewData["Title"] = "Home Page";
}


<div class="container">




    <table>
        <tbody>
            <tr>
                <td>Pesquisar pelo nome</td>
                <td><input type="text" id="txtConsulta" /></td>
                <td><input type="button" value="Search" id="btnSearch" /></td>
            </tr>
        </tbody>
    </table>
    <br />

    <table id="myTable" class="table table-hover table-striped display responsive nowrap " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">
                    #
                </th>
                <th class="th-sm"> Nome Do Produto</th>
                <th class="th-sm">
                    Nome Do Fornecedor
                </th>
                <th class="th-sm">
                    Nome Da categoria
                </th>
                <th class="th-sm">
                    Preco de Custo
                </th>
                <th class="th-sm">
                    Preco de Venda
                </th>
                <th class="th-sm">
                    Medição
                </th>
                <th class="th-sm">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th class="th-sm">
                    #
                </th>
                <th class="th-sm">
                    Nome Do Produto
                </th>
                <th class="th-sm">
                    Nome Do Fornecedor
                </th>
                <th class="th-sm">
                    Nome Da categoria
                </th>
                <th class="th-sm">
                    Preco de Custo
                </th>
                <th class="th-sm">
                    Preco de Venda
                </th>
                <th class="th-sm">
                    Medição
                </th>
                <th class="th-sm">
                    Status
                </th>
            </tr>
        </tfoot>
    </table>

</div>


@section Styles {



}


@section Scripts {



    <script type="text/javascript">


        $(document).ready(function () {


            $('#myTable').DataTable({
                "ajax": {
                    "url": "/home/loaddataserver",
                    "type": "POST",
                    "datatype":"json"
                },
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "paging": true,
                "info":false,
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true },                       //index 0
                    { "data": "nome", "name": "nome", "autoWidth": true },                   //index 1
                    { "data": "fornecedor.nome", "name":"fornecedor.nome", "autoWidth": true },//index 2
                    { "data": "categoria.nome", "name":"categoria.nome", "autoWidth": true },//index 3
                    { "data": "precoDeCusto", "name":"precoDeCusto", "autoWidth": true },  //index 4
                    { "data": "precoDeVenda", "name": "precoDeVenda", "autoWidth": true }, //index 5
                    { "data": "medicao", "name":"medicao", "autoWidth": true }, //index 6
                    { "data": "status", "name":"status", "autoWidth": true } //index 7
                ],
                "language": {
                    "lengthMenu": "Visualizando _MENU_ Registros por página",
                    "zeroRecords": "Não existe registros para visualização",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "paginate": {
                        "previous": "Página Anterior",
                        "next": "Próxima página"
                    }
                }

            });

            //------------------------------------------
            var oTable = $('#myTable').DataTable();
                       $("#btnSearch").click(function () {
                //aplicar pesquisa por nome // índice de coluna de dados 1
                oTable.columns(1).search($("txtConsulta").val().trim());
                oTable.draw()
             });
            //------------------------------------------


         });



      

    </script>

}