<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Construção Modelo Padrão</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/public/css/style.default.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

    <link rel="shortcut icon" href="~/public/img/favicon.png">

    <!--Bootstrap datepicker-->
    <link rel="stylesheet" href="~/public/css/bootstrap-datepicker.min.css">
    <!--dataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    @RenderSection("Styles", false)

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MVCDatatable</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - MVCDatatable</p>
        </footer>
    </div>


    <!-- Javascript files-->
    <script src="~/public/js/jquery-1.12.4.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <!--Bootstrap Datetime-->
    <script type="text/javascript" src="~/public/js/moment.min.js"></script>
    <script type="text/javascript" src="~/public/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/public/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="~/public/js/scripts.js"></script>
    <script type="text/javascript" src="~/public/js/personalizado.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
